body {
  background-color: rgb(199, 226, 241);
}

.container {
  max-width: 900px;
}

#letter-container{
  display: none;
  max-width: 600px;
  margin:auto;
  border-radius: 15px;
  background-color: rgb(241, 223, 198);
  margin-top: 40px;
}

#signed-name {
  font-style: italic;
}